.employeeGrid
{
height:35vh;
margin-left:5px;
margin-right:5px;
margin-bottom:5px;
margin-top:5px;
padding:5px;
border:1px solid black;
overflow:auto;
}
.employeeGridHeader
{
text-align:right;
padding: 5px;
}
.employeeGridSNOColumnTitle
{
width:10%;
text-align:center;
}
.employeeGridIdColumnTitle
{
width:10%;
text-align:center;
}
.employeeGridNameColumnTitle
{
width:35%;
text-align:center;
}
.employeeGridDesignationColumnTitle
{
width:25%;
text-align:center;
}
.employeeGridEditColumnTitle
{
width:10%;
text-align:center;
}
.employeeGridDeleteColumnTitle
{
width:10%;
text-align:center;
}



