.main-container
{
width:90hw;
height:auto;
border:1px solid black;
}
.header-container
{
margin:5px;
width:90hw;
height:auto;
border:1px solid black;
display:flex;
align-items:center;
overflow:hidden; 	/* to allow user-panel to float:right */
}
.logo
{
float:left;
width:35px;
height:auto;
padding:5px;
}
.brand-name
{
margin-top:9px;
margin-bottom:9px;
border:1px solid white;
font-size:20pt;
}

.user-panel
{
float:right;
border:1px solid black;
margin-left:750px;
padding:5px;
text-align:center;
}

.username
{
font-size:12px;
}
.user-icon
{
float:left;
width:24px;
height:auto;
}


.content
{
width:90hw;
height:70vh;
margin:5px;
border:1px solid white;
}
.content-left-panel
{
height:65vh;
margin:5px;
float:left;
padding:5px;
border:1px solid black;
}
.content-right-panel
{
height:65vh;
margin-left:105px;
margin-right:5px;
margin-bottom:5px;
margin-top:5px;
padding:5px;
border:1px solid black;
overflow:auto;
}
.error
{
color:red;
}
.footer
{
width:90hw;
height:auto;
margin:5px;
text-align:center;
border:1px solid footer;
}

table.designation-view-table {
  border: 5px solid black;
}


.designation-view-table th.add-new-designation-header {
  text-align:right;
  padding: 5px;
}
.designation-view-table th.s-no {
  width:60px;
  text-align:center;
}
.designation-view-table th.designation {
  width:200px;
  text-align:center;
}
.designation-view-table th.edit {
  width:80px;
  text-align:center;
}
.designation-view-table th.delete {
  width:80px;
  text-align:center;
}




